.outer-div {
  margin-top: 40px;
  width: 1000px;
  margin-left: 35px;
}
.inner-div h1 {
  font-size: 21px;
}
.inner-div h2 {
  font-size: 15px;
}

.form-control {
  height: 53px;
  background-color: #f7f7f7;
  font-size: 16px;
}
.form-control:focus {
  box-shadow: none;
}
.form-select {
  height: 53px;
  background-color: #f7f7f7;
  font-size: 16px;
}
.form-select:focus {
  box-shadow: none;
}

.outer-div label {
  font-size: 12px;
}
h3 {
  font-size: 20px;
}

.pay-btn {
  background-color: #52d627;
  height: 45px;
  width: 270px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 40px;
  border: 0px;
}
.pay-btn:hover {
  filter: brightness(0.9);
}
.pay-btn1 {
  background-color: white;
  height: 45px;
  width: 270px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50px;
  margin-top: 40px;
  border: 1px solid #aaaaaa;
  margin-left: 20px;
}
.pay-btn1:hover {
  filter: brightness(0.9);
}
