<form class="row g-3 outer-div">
  <div class="col-8">
    <div class="row g-3">
      <div class="form-floating mb-3 col-6">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="first name"
          value="Kangwa"
        />
        <label for="floatingInput">First Name</label>
      </div>
      <div class="form-floating mb-3 col-6">
        <input
          type="text"
          class="form-control"
          id="floatingInput1"
          placeholder="last name"
          value="Kangwa"
        />
        <label for="floatingInput1">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="form-floating mb-3 col-12">
        <input
          type="email"
          class="form-control"
          id="floatingInput2"
          placeholder="name@example.com"
          value="kangwa@email.com"
        />
        <label for="floatingInput2">Email address</label>
      </div>
    </div>
  </div>
  <div class="col-4 pic">
    <img height="130px" width="130px" src="assets/images/Group-2.svg" />
    <span>Change Profile Picture</span>
  </div>
  <div class="form-floating mb-3 col-4">
    <input
      type="text"
      class="form-control"
      id="floatingInput3"
      placeholder="+260961475400"
      value="+260961475400"
    />
    <label for="floatingInput3">Mobile Number</label>
  </div>
  <div class="form-floating mb-3 col-4">
    <input
      type="text"
      class="form-control"
      id="floatingInput4"
      placeholder="+260961475400"
      value="+260961475400"
    />
    <label for="floatingInput4">Alternative Number</label>
  </div>
  <div class="form-floating mb-3 col-4">
    <input
      type="text"
      class="form-control"
      id="floatingInput5"
      placeholder="Kaya"
      value="Kaya"
    />
    <label for="floatingInput5">Address</label>
  </div>
  <div class="form-floating mb-3 col-8">
    <input
      type="text"
      class="form-control"
      id="floatingInput6"
      placeholder="123456/10/1"
      value="123456/10/1"
    />
    <label for="floatingInput6">Idetification Number</label>
  </div>
  <div class="form-floating mb-3 col-4">
    <select class="form-select" id="floatingSelectGrid">
      <option selected>Lusaka</option>
      <option value="1">Kitwe</option>
      <option value="2">Ndola</option>
      <option value="3">Chingola</option>
    </select>
    <label for="floatingSelectGrid">City</label>
  </div>
  <div class="form-floating mb-3 col-8">
    <input
      type="text"
      class="form-control"
      id="floatingInput7"
      placeholder="University of Zambia"
      value="University of Zambia"
    />
    <label for="floatingInput7">Company/Organisation</label>
  </div>
  <div class="form-floating mb-3 col-4">
    <select class="form-select" id="floatingSelectGrid1">
      <option selected>Lusaka</option>
      <option value="1">Copperbelt</option>
      <option value="2">Eastern</option>
      <option value="3">Northen</option>
      <option value="4">Luapula</option>
      <option value="5">Muchinga</option>
      <option value="6">North-Western</option>
      <option value="7">Western</option>
      <option value="8">Southern</option>
      <option value="9">Central</option>
    </select>
    <label for="floatingSelectGrid1">Province</label>
  </div>
  <button class="pay-btn">Update Profile</button>
</form>
