<div class="outer-div">
  <div class="inner-div1 row">
    <div class="col-12 upcoming-div1">
      <h2>Upcoming Payments</h2>
      <select class="form-select" aria-label="Default select example">
        <option selected>2023</option>
        <option value="1">2024</option>
        <option value="2">2025</option>
        <option value="3">2026</option>
      </select>
    </div>
    <div class="col-12 upcoming-div2">
      <div class="container1">
        <div class="progress-bar">
          <div class="step">
            <p>13th July</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-189.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>13th Aug</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-200.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>13th Sep</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-191.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>13th Oct</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-191.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>13th Nov</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-191.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 upcoming-div3">
      <p>Duration: <span>5 Months</span></p>

      <p>Unpaid Amount: <span>K60,050</span></p>
    </div>
  </div>
  <div class="inner-div2 row">
    <div class="col-12 payment-div1">
      <h2>Upcoming Payments</h2>
      <select class="form-select" aria-label="Default select example">
        <option selected>2023</option>
        <option value="1">2024</option>
        <option value="2">2025</option>
        <option value="3">2026</option>
      </select>
    </div>
    <div class="col-12 payment-div2">
      <div class="container1">
        <div class="progress-bar">
          <div class="step">
            <p>13th Mar</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-200.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>13th Apr</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-200.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>21th May</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-202.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>16th Jun</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-202.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
          <div class="step">
            <p>11th Jul</p>
            <div class="step-container">
              <div class="bullet">
                <span
                  ><img
                    height="37px"
                    width="37px"
                    src="assets/images/Group-199.svg"
                /></span>
              </div>
              <div class="check fas fa-check"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 payment-div3">
      <p>Duration: <span>5 Months</span></p>

      <p>Penalties: <span>K60,050</span></p>
    </div>
  </div>
</div>
