.outer-div {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 767px;
  /* background-color: aqua; */
}
.inner-div1 {
  /* background-color: aqua; */
  height: 350px;
  width: 700px;
  box-shadow: 18px 31.5px 22px rgba(31, 73, 61, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}
.inner-div2 {
  /* background-color: brown; */
  height: 350px;
  width: 700px;
  box-shadow: 18px 31.5px 22px rgba(31, 73, 61, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}
.upcoming-div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.upcoming-div2 {
  /* background-color: aqua; */
  height: 200px;
}

.upcoming-div1 h2,
.payment-div1 h2 {
  font-size: 14px;
  font-weight: 400;
}
.form-select {
  width: 75px;
  height: 25px;
  font-size: 10px;
  border-radius: 50px;
}
.form-select:focus {
  box-shadow: none;
}
.payment-div1 .form-select {
  width: 115px;
}

.upcoming-div3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.upcoming-div3 p {
  color: #52d627;
  font-size: 14px;
  font-weight: 500;
}
.upcoming-div3 p span {
  font-size: 14px;
  margin-left: 10px;
  color: #686868;
}
.upcoming-div3 p:first-child {
  margin-right: 100px;
}

.payment-div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payment-div3 p {
  color: #52d627;
  font-size: 14px;
  font-weight: 500;
}
.payment-div3 p span {
  font-size: 14px;
  margin-left: 10px;
  color: #686868;
}
.payment-div3 p:last-child {
  margin-left: 100px;
  color: #ea2d2d;
}
.payment-div3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* progress bar */
.container1 {
  /* background-color: #3aafa9; */
  padding-top: 2px;
  width: 700px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.progress-bar {
  /* margin-top: 0px; */

  width: 100%;
  height: 200px;
  /* padding: 30px 20px 20px 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: #52d627; */
}
.step {
  /* text-align: center; */
  /* width: 100%; */
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: space-between;
  position: relative;
  /* background-color: aqua; */
}
.step-container {
  position: absolute;
  top: 0;
  right: 0px;
}
.step p {
  font-size: 12px;
  font-weight: 500;
  color: #686868;
  /* margin-bottom: 80px; */
  transition: 0.2s;
  position: absolute;
  top: -40px;
  left: 15px;

  /* margin-top: 50px; */
}
.bullet {
  position: relative;
  height: 37px;
  width: 37px;
  background-color: #ededed;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
  border-radius: 50%;
  line-height: 25px;
  transition: 0.2s;
  color: #b7b7b7;
}

.step span {
  font-weight: 500;
  font-size: 22px;
  /* line-height: 25px; */
  /* color: #def2f1; */
  /* top: 4px; */
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

.step .check {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 15px;
}

.bullet:before,
.bullet:after {
  position: absolute;
  content: "";
  height: 7px;
  width: 105px;
  background: #ededed;
  bottom: 15px;
  right: 36px;
  border-radius: 50px;
}

.bullet.active {
  background-color: #52d627;
  color: black;
}
/* just for illustration, this color change will happen when a user uploads the kyc */

.step:nth-child(2) .bullet:before,
.step:nth-child(2) .bullet:after {
  background-color: #52d627;
  color: black;
}
.step:first-child .bullet {
  background-color: #52d627;
}
.step .fap {
  color: #686868;
  position: absolute;
  font-size: 12px;
  top: 50px;
  left: -20px;
}
.direct {
  position: absolute;
  top: 90px;
  left: 70px;
}

.step:first-child .bullet:before,
.step:first-child .bullet:after {
  display: none;
  /* height: 40px;
    background-color: #52d627; */
}
/* .step:last-child {
  padding-bottom: 10px;
} */

.bullet.active:after {
  background-color: #17252a;
  transform: scaleY(0);
  transform-origin: top;
  animation: animate 0.3s linear forwards;
}

.bullet.active span {
  color: black;
}

.check.active {
  display: block;
  color: #def2f1;
}
.step p.active {
  color: #17252a;
}
