.search-div {
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5px;
}

.search-input {
  height: 40px;
  width: 256px;
  padding-left: 8px;
  border: 1px solid #c7c8c9;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-radius: 20px;
}

form {
  padding-top: 8px;
}
form i {
  font-size: 20px;
  margin-top: 10px;
  margin-left: -28px;
  cursor: pointer;
}

.div-bell {
  margin-top: 14px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  /* width: 40px;
  height: 40px; */
  /* background-color: aqua; */
}

.div-bell i {
  font-size: 22px;
}

.badge {
  padding: 0.2em 0.4em;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #52d627;
  font-size: 8px;
  position: absolute;
  font-weight: 700;
  top: 2px;
  left: 12px;
}
