<app-searchbar></app-searchbar>
<app-navbar></app-navbar>

<div class="outer">
  <div>
    <h1>Homepage under development!!!...</h1>
    <h2>Vist:</h2>
  </div>
  <div class="links">
    <a [routerLink]="['/payment']" routerLinkActive="router-link-active"
      >Payment Page</a
    >
    <a [routerLink]="['/account']" routerLinkActive="router-link-active"
      >Account Page</a
    >
    <a [routerLink]="['/setting']" routerLinkActive="router-link-active"
      >Settings Page</a
    >
  </div>
  <div>
    <select
      [(ngModel)]="selectedValue"
      (ngModelChange)="setSelectedValue($event)"
    >
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      data-bs-title="Tooltip on left"
    >
      Tooltip on left
    </button>
    <button
      type="button"
      class="btn btn-outline-secondary me-2"
      placement="start"
      ngbTooltip="Tooltip on left"
    >
      Tooltip on left
    </button>
  </div>
</div>
