.outer-div {
  display: flex;
  flex-direction: column;

  padding-left: 24px;
  padding-top: 40px;
  margin-top: 8px;
  height: 856px;
  max-width: 1302px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

h2 span {
  color: #52d627;
}
h4 {
  display: flex;
  flex-direction: column;
  font-size: 6px;
  font-weight: 400;
}

h4 span {
  font-size: 9px;
  font-weight: 700;
}

.inner-div {
  width: 1050px;
  height: 700px;
  margin-top: 12px;
  margin-bottom: 20px;
  box-shadow: 30px 53px 38px rgba(31, 73, 61, 7%);
}
/* .nav-item {
  width: 900px;
} */

.router-link-active {
  color: #52d627;
}
.nav-link {
  color: #aaaaaa;
  background-color: #e5e5e5;
  font-size: 19px;
  font-weight: 400;
  width: 262.5px;
  height: 60px;
  border: 0px;
  border-radius: 0px;
}
.nav-link.active {
  color: #52d627;
}
